<div>
	
<div class="btn-group" dropdown>
<button id="cbbIdioma" type="button" class="btn btn-default" dropdown-toggle>
		{{ls.currentLocaleDisplayName}} <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="cbbIdioma">
		<li ng-repeat="l in ls.localesDisplayNames">
			<a href ng-click="ls.changeLanguage(l)">{{l}}</a>
		</li>
	</ul>
</div>
</div>

