<div class="container">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body col-md-4 col-md-offset-4" ng-intro-options="auth.IntroOptions" ng-intro-method="CallMe" ng-intro-autostart="auth.ShouldAutoStart">
        <h2 class="text-center">Log in</h2>
        <form method="post" ng-submit="auth.login()" name="loginForm">
          <div class="form-group has-feedback">
            <input id="txtEmail" class="form-control input-lg" type="text" name="email" ng-model="auth.user.email" placeholder="Email" required autofocus>
            <span class="ion-at form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input id="txtPass" class="form-control input-lg" type="password" name="password" ng-model="auth.user.password" placeholder="Password" required>
            <span class="ion-key form-control-feedback"></span>
          </div>
          <button id="btnSubmit" type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-success">Log in</button>
          <br/>
          <p class="text-center text-muted">
            <small>Don't have an account yet? <a id="btnSignUp" href="/#/signup">Sign up</a></small>
          </p>
          <div class="signup-or-separator">
            <h6 class="text">or</h6>
            <hr>
          </div>
        </form>
        <button id="btnFacebook" class="btn btn-block btn-social btn-lg btn-facebook" ng-click="auth.authenticate('facebook')">
          <i class="fa fa-facebook"></i> Sign in with Facebook
        </button>
        <button class="btn btn-block btn-social btn-lg btn-google" ng-click="auth.authenticate('google')">
          <span class="fa fa-google"></span>Sign in with Google
        </button>
      </div>
    </div>
  </div>
</div>