<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading">	
			<h4>Configuracion</h4>
		</div>
		<form class="form-horizontal text-center">
			<tabset>
				<tab heading="Cuentas">
					<div class="panel-body">
						<div class="form-inline">
							<label for="single-button" class="control-label">{{'maestros.cuenta.label.cuenta' | translate}}:
							</label>
							<input type="text" ng-model="conf.cuenta.nombre" class="form-control" placeholder="{{'maestros.cuenta.label.cuenta' | translate}}" required>
							<button type="button" class="btn btn-primary" ng-click="conf.submit()">
								<span class="glyphicon glyphicon-ok"></span>
							</button>
							<button type="button" class="btn btn-danger" ng-click="conf.cancel()">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>
					</div>
					<table ng-table class="table table-striped table-hover">
						<thead>
							<tr>						
								<th class="text-center">{{'maestros.cuenta.table.nombre' | translate}}</th>
								<th class="text-center">Opciones</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="cuen in conf.cuentas track by cuen.ssn">						
								<td data-title="'Nombre'">{{cuen.nombre}}</td>
								<td data-title="'Opciones'">
									<button type="button" class="btn btn-danger btn-sm" ng-click="conf.delete(cuen.ssn)">
										<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
									</button>
									<button type="button" class="btn btn-info btn-sm" ng-click="conf.edit(cuen)">
										<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</tab>
				<tab heading="Monedas">
				<div class="col-md-4">
					<table ng-table class="table table-striped table-hover">
						<thead>
							<tr>						
								<th class="text-center">{{'maestros.cuenta.table.nombre' | translate}}</th>
								<th class="text-center">Opciones</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="cuen in conf.cuentas track by cuen.ssn">						
								<td data-title="'Nombre'">{{cuen.nombre}}</td>
								<td data-title="'Opciones'">
									<button type="button" class="btn btn-danger btn-sm" ng-click="conf.delete(cuen.ssn)">
										<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
									</button>
									<button type="button" class="btn btn-info btn-sm" ng-click="conf.edit(cuen)">
										<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
				</tab>
			</tabset>			
		</form>
	</div>
</div>