<!DOCTYPE html>
<html ng-app="eWallet">
<head>
	<meta charset="UTF-8">
	<title>Wall e</title>
	<meta name="description" content="Aplicación de gestión financiera">
	<meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->    
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
</head>
<body>
<!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      
      <div ng-controller="MainController as mainc">        
        <div class="navbar navbar-default navbar-static-top" >
          <div class="nav navbar-left" data-asm-control="slideLeft">
            <span class="glyphicon glyphicon-menu-hamburger navbar-brand" role="button" ></span>
          </div>
          <div class="navbar-header">          
            <a class="navbar-brand">Wall-e</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/#/">Inicio</a></li>
            <li ng-if="mainc.isAuthenticated()"><a href="/#/profile">Perfil</a></li>
          </ul>
          <ul ng-if="!mainc.isAuthenticated()" class="nav navbar-nav pull-right">
            <li><a href="/#/login">Login</a></li>
            <li><a href="/#/signup">Sign up</a></li>
          </ul>
          <ul ng-if="mainc.isAuthenticated()" class="nav navbar-nav pull-right">
            <li><a href="/#/logout">Logout</a></li>
          </ul>
        </div>
      </div>

      <div data-asm-slide-left class="panel panel-default cbp-spmenu-vertical">
        <!-- Default panel contents -->
        <div class="panel-heading">Opciones</div>  
        <ul class="list-group">
        <li class="list-group-item"><a href="/#/config">Configuracion</a></li>
          <li class="list-group-item"><a href="#">Pears</a></li>
          <li class="list-group-item"><a href="#">Oranges</a></li>
          <li class="list-group-item"><a href="#">Pears</a></li>
          <li class="list-group-item">
            <div>
              <language-select />
            </div>
          </li>
        </ul>
      </div>
      <div ng-view></div>


      <!-- build:js(src) scripts/vendor.js -->
      <!-- bower:js -->
      <!-- run `gulp inject` to automatically populate bower script dependencies -->
      <!-- endbower -->
      <!-- endbuild -->

      <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
      <!-- inject:js -->
      <!-- js files will be automatically insert here -->
      <!-- endinject -->

      <!-- inject:partials -->
      <!-- angular templates will be automatically converted in js and inserted here -->
      <!-- endinject -->
      <!-- endbuild -->
    </body>
    </html>