<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading">	
			<h4>Registros</h4>
		</div>
		<form class="form-horizontal text-center">
		<div class="panel-body">
			<div class="form-inline">
			<label for="single-button" class="control-label">{{'registro.nuevo.label.cuenta' | translate}}:</label>
				<div class="btn-group" dropdown>
					<button id="single-button" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
						{{main.registro.cuenta.nombre}} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
						<li ng-repeat="a in main.cuentas">
							<a href ng-click="main.cuentaitemselected(a)">{{a.nombre}}</a>
						</li>
					</ul>
				</div>
				<div class="input-group">
					<span dropdown keyboard-nav class="input-group-addon">
						<a href id="simple-btn-keyboard-nav" dropdown-toggle>
							{{main.registro.moneda.simbolo}}
						</a>
						<ul class="dropdown-menu" aria-labelledby="simple-btn-keyboard-nav">
							<li ng-repeat="a in main.monedas">
								<a href ng-click="main.dropboxitemselected(a)">{{a.simbolo}}</a>
							</li>					
						</ul>
					</span>
					<input type="number" ng-model="main.registro.monto" class="form-control" placeholder="{{'registro.nuevo.monto' | translate}}" step=0.01 min=0.01 required>
				</div>
				<input bs-switch ng-model="main.registro.isIngreso" type="checkbox" 
				switch-inverse="true" switch-size = "small"
				switch-on-text="{{'registro.nuevo.ingreso' | translate}}" switch-off-text="{{'registro.nuevo.gasto' | translate}}"
				switch-on-color="success" switch-off-color="danger">
			</div>			
			<div class="form-inline">
				<label for="dtpFecha" class="control-label">{{'registro.nuevo.label.fecha' | translate}}:</label>
				<p class="input-group" style="margin-bottom: 0px">
					<input id="dtpFecha" type="date" class="form-control" datepicker-popup ng-model="main.registro.fecha" ng-required="true" is-open="main.status.opened" close-text="Close" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="main.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
				<timepicker style="display:inline-table;vertical-align: middle;margin-left: 7px" ng-model="main.registro.fecha"></timepicker>
			</div>
			<div class="form-inline">
				<label for="txtDescripcion" class="control-label">{{'registro.nuevo.label.descripcion' | translate}}:</label>
				<textarea id="txtDescripcion" ng-model="main.registro.descripcion" class="form-control" rows="2" cols="45"></textarea>
				<button type="button" class="btn btn-primary" ng-click="main.submit()">
				<span class="glyphicon glyphicon-ok"></span>
				</button>
				<button type="button" class="btn btn-danger" ng-click="main.cancel()">
				<span class="glyphicon glyphicon-remove"></span>
				</button>
			</div>
			</div>
			<table ng-table class="table table-striped table-hover">
				<thead>
					<tr>						
						<th class="text-center">{{'registro.nuevo.table.fecha' | translate}}</th>
						<th class="text-center">{{'registro.nuevo.table.monto' | translate}}</th>
						<th class="text-center">{{'registro.nuevo.table.ing/gast' | translate}}</th>
						<th class="text-center">Opciones</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="reg in main.registros track by reg.ssn">						
						<td data-title="'Fecha'">{{reg.fecha | date : 'short'}}</td>	
						<td data-title="'Monto'">
							<div ng-class="reg.isIngreso ? 'ingreso' : 'egreso'">
								{{reg.monto | currency:reg.moneda.simbolo}}
							</div>
						</td>
						<td data-title="'Ingreso/Gasto'">
							<div class="label label-info" ng-show="{{reg.isIngreso}}">Ingreso</div>
							<div class="label label-danger" ng-hide="{{reg.isIngreso}}">Gasto</div>
						</td>
						<td data-title="'Opciones'">
							<button type="button" class="btn btn-danger btn-sm" ng-click="main.delete(reg.ssn)">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-info btn-sm" ng-click="main.edit(reg)">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>		
	</div>
</div>